<!DOCTYPE html>
<html lang="pl-PL">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% block style %}
      {% endblock %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <title>        
        {% block title %}
        {% endblock %}
      </title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg text-info" style="background-color: #edeee4;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('fizyka_page') }}" style="color: #581426; font-weight: 500;">TI 2022/23</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users_page') }}" style="font-weight:500;">Użytkownicy w bazie</a>
              </li>
              {% if current_user.is_authenticated %}   
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('load_page') }}" style="font-weight:500;">Zapisane</a>
              </li>
              {% endif %}


            </ul>
            {% if current_user.is_authenticated %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" style="font-weight:600; color:#581426;">Witaj, {{ current_user.username }}!</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('logout_page') }}" style="font-weight:500;">Wyloguj się</a>
              </li>
            </ul>            
            {% else %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login_page') }}" style="font-weight:500;">Zaloguj się</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register_page') }}" style="font-weight:500;">Zarejestruj się</a>
                </li>
            </ul>
            {% endif %}   

            

          </div>
        </div>
      </nav>
    {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
            </button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   </body>
   {% block actions %}
   {% endblock %}
   <style>
    body {
      background-color: #8b1638;
      color: white;
      text-align: center;
  }
   </style>
</html>