{% extends 'base.html' %}
{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/log_reg.css')}}" />
{% endblock %}
{% block title %}
    Rejestracja
{% endblock %}
{% block content %}
    <p></p>
    <div class="container">
        <form method="POST" class="form-register" style="color: #edeee4; font-weight: bold;" novalidate>
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal" style="color: white;">
                Stwórz nowe konto
            </h1>
            <br>
            {{ form.username.label() }}:<p></p>
            {{ form.username(class="form-control", placeholder="Username", style="text-align: center;") }}<p></p>
            {{ form.email_address.label() }}:<p></p>
            {{ form.email_address(class="form-control", placeholder="Email", style="text-align: center;") }}<p></p> <!-- ############ pamietaj ze jakies 'imie@o' nie wywala tego bledu z okenkiem -->  
            {{ form.password.label() }}:<p></p>
            {{ form.password(class="form-control", placeholder="Hasło", style="text-align: center;") }}<p></p>
            {{ form.password_confirm.label() }}:<p></p>
            {{ form.password_confirm(class="form-control", placeholder="Powtórz hasło", style="text-align: center;") }}
            <br>
            <div class="checkbox mb-3">
                <h6>Masz już konto?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Zaloguj się</a>
            </div>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
{% endblock %}
{% block actions %}
{% endblock %}