{% extends 'base.html' %}
{% block style %}
{% endblock %}
{% block title %}
    Użytkownicy
{% endblock %}
{% block content %}
    <p></p>
    <table class="table table-hover" style="background-color: #edeee4;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Userame</th>
                <th scope="col">Email</th>
                <th scope="col">Hasło</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.password_hash }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block actions %}
{% endblock %}